<header>

    <div class="flex justify-between">

        <div class="flex items-center gap-3">
            <div
                class="h-[3rem] text-white text-3xl w-[3rem] rounded-[50%] bg-blue-600 font-bold flex items-center justify-center ">
                E
            </div>

            <h2 class="font-bold hidden md:block text-lg text-white">Ehsan <span class="font-medium">Shahrestani</span></h2>

        </div>

        <div>
            <nav class=" p-4">
                <ul class="flex space-x-4">
                    <li *ngFor="let item of headerMenu"><a [routerLink]="[item.route]" routerLinkActive="activeLink"  class="text-gray-400 select-none hover:text-white duration-300 transition-all ">{{item.lable}}</a></li>
                </ul>
            </nav>

        </div>
    </div>



</header>