<section class="md:mt-20 h-full animate-fade-down">
  <div
    class="w-11/12 md:w-9/12 grid grid-cols-1 md:grid-cols-2 items-center justify-center mx-auto"
  >
    <div class="col-span-1">
      <div class="w-5/6 mx-auto">
        <div class="home-photo">
          <div
            class=" bg-[url({{
              resume()?.attributes?.aboutMe?.profileImage?.data?.attributes?.url
            }})] hp-inner animate-duration-700 animate-fade-right animate-delay-100"
          ></div>
        </div>
      </div>
    </div>

    <div class="col-span-1">
      <div
        class="dark:text-white text-[#222] animate-duration-700 animate-fade-left"
      >
        <span>Web developer</span>
        <h2 class="text-2xl font-bold">
          {{ resume()?.attributes?.aboutMe?.fullName }}
        </h2>
        <p class="mb-3">
          Experienced full-stack JavaScript developer specialising in creating
          robust and scalable web applications. Proficient in utilising
          cutting-edge technologies, including Angular for dynamic front-end
          development, Nest.js for the backend.
        </p>

        <div class="home-buttons mt-2">
          <a (click)="donwloadCv()" class="btn btn-primary">Download CV</a>
          <a [routerLink]="['/contact']" class="btn btn-secondary">Contact</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="mt-4">
    <h2 class=" mb-5 relative inline-block pb-2 font-bold text-xl text-white header-line ">What I Do</h2>
    <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="flex gap-2">
            <div class="ci-icon ">
                <i class=" text-white text-3xl  linecons  linecons-display"></i>
            </div>

            <div class=" pl-4  ci-text text-white">
                <h4 class="font-bold">Web Design</h4>
                <p class="font-thin">I have the capability to develop web applications, including CMS and shop websites,
                    utilizing my skills in Angular and Progressive Web App (PWA) development. My expertise revolves
                    around creating efficient and responsive user interfaces with a strong emphasis on clean and
                    optimized code.
                </p>
            </div>
        </div>
        <div class="flex gap-2">
            <div class="ci-icon ">
                <i class=" text-white text-3xl  linecons  linecons-display"></i>
            </div>

            <div class=" pl-4  ci-text text-white">
                <h4 class="font-bold    ">Web Design</h4>
                <p class="font-thin">Mauris neque libero, aliquet vel mollis nec, euismod sed tellus. Mauris convallis
                    dictum elit
                    id volutpat. Vivamus blandit, dolor vitae lacinia maximus, risus velit vehicula odio, a
                    tincidunt turpis turpis tempus ex.</p>
            </div>
        </div>
    </div>
</section> -->
