.lm-animated-bg {
    position: absolute;
    width: auto;
    height: auto;
    // top: -18px;
    left: 0px;
    // right: -18px;
    // bottom: -18px;
    background-image: url(/assets/img/main_bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}