<div style="background-image: url(assets/img/main_bg.png);background-size: cover;"  class="md:flex w-full md:items-center h-100-dvh">

    <div
        class="bg-[#222] md:overflow-hidden animate-jump-in animate-duration-300 flex  flex-col min-h-full md:min-h-max  md:h-[90%] py-3 px-2 md:p-20 w-full md:max-w-[1240px]    mx-auto md:rounded-[40px] ">
        <app-header></app-header>
        <div [@routeAnimations]="getRouteAnimationData()" class="my-20 flex-1">
            <router-outlet></router-outlet>
        </div>

        <app-footer></app-footer>
    </div>

</div>