<div class="absolute w-full h-full">
  <img
    src="assets/img/main_bg.png"
    class=" dark:brightness-100 brightness-0 h-full w-full right-0 object-cover"
    alt=""
    srcset=""
  />
</div>
<div class="md:flex w-full md:items-center h-full">
  <div
    class="bg-gray-500 rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-10 md:border border-[#222] md:dark:border-gray-100 md:overflow-hidden animate-jump-in animate-duration-300 flex flex-col min-h-max  md:h-[90%] py-3 px-2 md:p-20 w-full md:max-w-[1240px] mx-auto md:rounded-[40px]"
  >
    <app-header class="sticky top-0 z-20 left-0"></app-header>
    <div [@routeAnimations]="getRouteAnimationData()" class=" my-5 md:my-20 flex-1">
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
  </div>
</div>
