<footer class="site-footer clearfix">
    <div class="footer-social">
      <ul class="footer-social-links">
        <li>
          <a href="#" target="_blank" dideo-checked="true">Twitter</a>
        </li>

        <li>
          <a href="#" target="_blank" dideo-checked="true">Facebook</a>
        </li>

        <li>
          <a href="#" target="_blank" dideo-checked="true">Instagram</a>
        </li>
      </ul>
    </div>
        
    <!-- <div class="footer-copyrights">
      <p>© 2020 All rights reserved. Ehsan Shahrestani.</p>
    </div> -->
  </footer>